body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u3 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:28px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:79px;
  width:870px;
  height:460px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:27px;
  width:870px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:853px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:870px;
  height:1px;
}
#u8 {
  position:absolute;
  left:-200px;
  top:257px;
  width:524px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:507px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:524px;
  height:1px;
}
#u9 {
  position:absolute;
  left:16px;
  top:6px;
  width:41px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:6px;
  top:37px;
  width:51px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:77px;
  top:47px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:77px;
  top:251px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:77px;
  top:78px;
  width:123px;
  height:148px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u18 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:238px;
  top:78px;
  width:123px;
  height:148px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u20 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:398px;
  top:78px;
  width:123px;
  height:148px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u22 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:559px;
  top:78px;
  width:123px;
  height:148px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u24 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:720px;
  top:78px;
  width:123px;
  height:148px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u26 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:77px;
  top:289px;
  width:123px;
  height:61px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u28 {
  position:absolute;
  left:2px;
  top:24px;
  width:119px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:228px;
  top:289px;
  width:123px;
  height:61px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:119px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:379px;
  top:289px;
  width:123px;
  height:61px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u32 {
  position:absolute;
  left:2px;
  top:24px;
  width:119px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:529px;
  top:289px;
  width:123px;
  height:61px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u34 {
  position:absolute;
  left:2px;
  top:24px;
  width:119px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:680px;
  top:289px;
  width:123px;
  height:61px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:61px;
}
#u36 {
  position:absolute;
  left:2px;
  top:24px;
  width:119px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:389px;
  width:870px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:853px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:870px;
  height:1px;
}
#u38 {
  position:absolute;
  left:16px;
  top:367px;
  width:41px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:6px;
  top:399px;
  width:51px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:76px;
  top:409px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:76px;
  top:439px;
  width:123px;
  height:148px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u45 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:238px;
  top:439px;
  width:123px;
  height:148px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u47 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:398px;
  top:439px;
  width:123px;
  height:148px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u49 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:558px;
  top:439px;
  width:123px;
  height:148px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u51 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:720px;
  top:439px;
  width:123px;
  height:148px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:148px;
}
#u53 {
  position:absolute;
  left:2px;
  top:66px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:73px;
  top:575px;
  width:457px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:80px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:980px;
  top:400px;
  width:-150px;
  height:0px;
}
#u56_seg0 {
  position:absolute;
  left:-154px;
  top:-10px;
  width:164px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-125px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:995px;
  top:394px;
  width:369px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:32px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:32px;
  top:57px;
  width:99px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
